<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- setting的全局配置，按需添加吧 -->
    <!-- 打印查询语句
	<settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings> -->
	<!-- 配置别名 -->
	<typeAliases>
		<typeAlias alias="pd" type="com.chenkaiyun.ssm.common.util.PageData"/>  
	</typeAliases>
	
</configuration>
